.header {
  background-color: blue;
  height: 4.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header > ul {
  display: inline;
  margin: 0;
  list-style-type: none;
}

.header > ul > li {
  display: inline;
  margin-right: 1.5em;
}

.header > ul > li > a {
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 1.2em;
}

.header > ul > li > a:hover {
  color: white;
}

.header > ul > li.logo {
  font-size: 2em;
}

.header-left {
  justify-self: start;
}

.header-right {
  justify-self: end;
}
