form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  width: 460px;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
}

input[type="submit"] {
  grid-column: 2/3;
  width: 100px;
}

input[type="text"] {
  width: 300px;
}

label {
  justify-self: end;
}
